.background-carousel{
   
  width: 100%;
  max-height: 100vh;
}

.img1 {
    width: 100%;
  max-height: 100vh;
}
.img2 {
    width: 100%;
    max-height: 100vh; 
}

@media (max-width: 768px) {
    .background-carousel{
        max-height: 80vh;
    }
    
}