.BackImg{
    background-image:
  url("../../assets/LoginBack.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Login-head{
    background-color: white;
    border-radius: 10px;
    width: 482px;
    height: 482px;
    margin: auto;
    margin-left: 150px;
}
.Login-btn{
    background-color: #323333;
    width: 194.49px;
    height: 50.74px;
    border-radius: 30px;
    margin-top: 10px;
}

.Login-content{
text-align: center;
}

.logo-rojo{
    text-align: center;
    margin-top: 50px;
}

.email-form{
width: 312.88px;
height: 50.74;
margin: auto;
border-radius: 30px;
}

.password-form{
    border-radius: 30px;
    width: 312.88px;
    height: 50.74; 
    margin: auto;
}